@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    a.active {
        color: "var(--accent)";
    }
    .btn-primary {
        @apply bg-primary text-primary-foreground px-6 py-3 rounded-sm;
    }
}
@layer base {
    :root {
        --accent: #ff5555;
        --foreground: #000000;
        --foreground-muted: #606060;
        --primary: #000000;
        --primary-foreground: #ffffff;
        --background: #ffffff;
    }
    .dark {
        --accent: #ff5555;
        --foreground: #ffffff;
        --foreground-muted: #2d2d2d;
        --primary: #f4f4f4;
        --primary-foreground: #000000;
        --background: #000000;
    }
}
