@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* not working for some reason */
    /* .active {
        color: "var(--accent)";
    } */
    .btn-primary {
        @apply bg-primary text-primary-foreground px-6 py-3 rounded-sm;
    }
    .fading-border {
        position: relative;
        width: 100%;
        z-index: 10;
    }
    .fading-border::before {
        z-index: -10;
        content: "";
        border-right: 300px solid transparent;
        border-bottom: 1px solid var(--foreground-muted);
        border-left: 300px solid transparent;
        position: absolute;
        inset: 0;
    }
}
@layer base {
    :root {
        --accent: #ff5555;
        --foreground: #000000;
        --foreground-muted: #606060;
        --primary: #000000;
        --primary-foreground: #ffffff;
        --background: #ffffff;
    }
    .dark {
        --accent: #ff5555;
        --foreground: #ffffff;
        --foreground-muted: #2d2d2d;
        --primary: #f4f4f4;
        --primary-foreground: #000000;
        --background: #000000;
    }
}
